@import url(./style.css);


img {
  height: 72%;
}

.button-book {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 0.5%;
  margin-right: 4%;
  background-color: #0069ff;
  border-color: transparent;
  width: 216px;
  height: 46px;
  border-radius: 10px;
}
.button-book a {
  color: #f9f9f9;
  font-size: 18px;
}


.btnExplore {
  float: right;
  width: 180px;
  height: 46px;
  background-color: #0069ff;
  padding: 3px 28px;
  border: none;
  border-radius: 10px;
  margin: 24px 24px;
}

.btnExplore a {
  font-family: Inter;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg img {
  margin: auto;
  overflow: hidden;
}

.text {
  margin-top: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

span {
  font-weight: 600;
}

.btn-section {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  img {
    height: 42%;
    margin-bottom: 2%;
  }
  .centered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10%;
  }
  .button-book {
    width: 130px;
    height: 30px;
    margin-top: 2%;
    right: 60%;
    transform: translateX(-20%);
  }
  .button-book a {
    color: #f9f9f9;
    font-size: 10px;
  }

  .btnExplore {
    width: 88.38px;
    height: 28.68px;
  }

  .btnExplore a {
    font-size: 10px;
    line-height: 25px;
  }
  .bg img {
    padding: 0 6%;
  }

  .text {
    padding-left: 10%;
    padding-right: 10%;
  }

  .text h4 {
    margin-bottom: 4%;
  }

  .btn-section {
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) {
  img {
    height: 62%;
  }
  .button-book {
    width: 130px;
    height: 30px;
    margin-top: 2%;
  }
  .button-book a {
    font-size: 10px;
  }

  .btnExplore {
    width: 92.38px;
    height: 32.68px;
  }

  .btnExplore a {
    font-size: 10px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  img {
    height: 72%;
  }
  .button-book {
    margin-top: 0.5%;
    margin-right: 4%;
    width: 216px;
    height: 46px;
  }
  .button-book a {
    font-size: 18px;
  }

  .btnExplore {
    width: 180px;
    height: 46px;
  }

  .btnExplore a {
    font-size: 18px;
    line-height: 25px;
  }
}
