@import url(./style.css);

img {
  height: 72%;
}

.button-book {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 0.5%;
  margin-right: 4%;
  background-color: #0069ff;
  border-color: transparent;
  width: 216px;
  height: 46px;
  border-radius: 10px;
}
.button-book a {
  color: #f9f9f9;
  font-size: 18px;
}

.heading {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
  height: 185px;
  width: auto;
}

.heading h1 {
  font-weight: 700;
  font-family: "Inter";
  font-size: 34px;
  line-height: 41px;
  text-align: center;
}

.heading h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-style: normal;
  color: #0a2a42;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 80%;
  height: 300px;
  background: #f5f9ff;
  border: 1px solid #f0f0f0;
  border-radius: 24px;
  margin-bottom: 2%;
}

.s-left {
  flex-direction: row-reverse;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 542.16px;
  height: 220px;
}

.content p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.content-right {
  text-align: right;
  align-items: flex-end;
}

.content-left {
  text-align: left;
}

.btnExplore {
  width: 122px;
  height: 46px;
  background: #ffffff;
  border: 2px solid #0249ff;
  border-radius: 10px;
}

.btnExplore a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #0249ff;
}

@media only screen and (max-width: 600px) {
  img {
    height: 42%;
    margin-bottom: 2%;
  }
  .centered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10%;
  }
  .button-book {
    width: 130px;
    height: 30px;
    margin-top: 2%;
    right: 60%;
    transform: translateX(-20%);
  }
  .button-book a {
    color: #f9f9f9;
    font-size: 10px;
  }
  .service {
    flex-direction: column;
    margin-bottom: 4%;
    justify-content: space-around;
  }
  .content {
    padding: 0 4%;
    width: fit-content;
    flex-direction: column;
  }
  .content-right {
    align-items: center;
    text-align: center;
  }
  .content-left {
    align-items: center;
    text-align: center;
  }

  .heading h1 {
    font-size: 12px;
  }

  .heading h6 {
    font-size: 8px;
  }

  .content h1 {
    font-size: 12px;
  }

  .content p {
    font-size: 8px;
  }

  .btnExplore {
    width: 88.38px;
    height: 28.68px;
  }

  .btnExplore a {
    font-size: 10px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 600px) {
  img {
    height: 62%;
  }
  .button-book {
    width: 130px;
    height: 30px;
    margin-top: 2%;
  }
  .button-book a {
    font-size: 10px;
  }
  .heading h1 {
    font-size: 16px;
  }

  .heading h6 {
    font-size: 12px;
  }

  .content {
    width: 342.16px;
  }

  .content h1 {
    font-size: 16px;
  }

  .content p {
    font-size: 12px;
  }

  .btnExplore {
    width: 92.38px;
    height: 32.68px;
  }

  .btnExplore a {
    font-size: 10px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  img {
    height: 72%;
  }
  .button-book {
    margin-top: 0.5%;
    margin-right: 4%;
    width: 216px;
    height: 46px;
  }
  .button-book a {
    font-size: 18px;
  }
  .heading h1 {
    font-size: 34px;
  }

  .heading h6 {
    font-size: 16px;
  }
  .content {
    width: 542.16px;
  }

  .content h1 {
    font-size: 24px;
  }

  .content p {
    font-size: 16px;
  }

  .btnExplore {
    width: 122px;
    height: 46px;
  }

  .btnExplore a {
    font-size: 18px;
    line-height: 25px;
  }
}
